html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    background-color: rgb(212, 212, 212)
}


/*webaim contrast checker  */
p {
    font-size: 16px;
    max-width: 60ch;
    line-height: 1.6rem;
}

ul {
    list-style-type: none;
    padding: 1em 1em 1em 1em;
}

li {
    font-size: 115%;
    padding-bottom: 20px;
}


a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    transition-duration: 0.2s;
}

a:hover {
    color: rgb(253, 253, 253);
}

.container {
    background-color: rgb(230, 230, 230);
    max-width: 1201px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1fr 5fr minmax(1fr, 200px);
    grid-template-rows: 120px 100px 3fr 200px;
}


.head {
    color: rgb(247, 247, 247);
    background-color: rgb(70, 70, 70);
    padding: 1em 1em;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.navigation {
    /* does not work */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 25%;
}

/* nav bar will move to top when scaled down heavily */
@media screen and (max-width: 640px) {
    .navigation {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: end;
    }

    a {
        color: rgb(224, 224, 224);
    }
    
    a:hover {
        color: rgb(10, 10, 10);
    }

    ul {
        padding: 0 0 0 0;
    }

    li {
        font-size: 100%;
        padding-bottom: 0px;
    }



}







/* ARTICLES */







.articles {
    background-color: rgb(247, 247, 247);
    text-align: justify;
    display: grid;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-bottom: 1px solid black;
}



/* articles will fill out the entire screen when scaled down heavily */
@media screen and (max-width: 640px) {
    .articles {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
    }

}

.footer {
    color: rgb(236, 236, 236);
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-around;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.foot-contact {
    font-size: 70%;
}

.fa {
    color: rgb(224, 224, 224);
    padding-top: 20px;
    padding-left: 10px;
}

.fa:hover {
    transform: scale(1.3); 
}

/* footer scaling */
@media screen and (max-width: 640px) {
    .footer {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

}



@media screen and (max-width: 640px) {
    .container {
        margin: 0px 0px;
    }
    
}