.mother {
    padding: 10px;
    max-width: 1024px;
    margin: auto;
    display: grid;
}


.footer {
    display: flex;
    ;
}

.navigation {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1024px) {
    .mother {
        margin: 0px 20px;
    }
}